.homes {
    grid-column: center-start / center-end;
    margin: 15rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 6rem;
}

.home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5rem;
    background-color: $color-grey-light-1;

    &__img {
        width: 100%;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }

    &__like {
        grid-column: 2 / -1;
        grid-row: 1 / 2;
        justify-self: end;
        margin: 1rem;
    }

    &__name {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        width: 80%;
        font-family: $font-display;
        font-size: 1.6rem;
        justify-self: center;
        align-self: end;
        background-color: $color-secondary;
        color: $color-grey-light-1;
        text-align: center;
        transform: translateY(50%);
        padding: 1rem;
        font-weight: 300;
    }

    &__location,
    &__rooms {
        margin-top: 2rem;
    }

    &__location,
    &__rooms,
    &__area,
    &__price {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;

        svg {
            margin-right: 1rem;
        }
    }

    svg {
        width: 3rem;
        height: 3rem;
        fill: $color-primary-dark;
    }
}