.side-bar {
    background-color: $color-primary;
    grid-row: 1 / -1;

    @media only screen and (max-width: $large-bp) {
        grid-column: 1 / -1;
        grid-row: 1 / 1;

        justify-content: flex-end;
    }

    display: flex;
    justify-content: center;

}

.btn-nav {
    margin-top: 4rem;
    height: 2px;
    width: 4.5rem;
    // display: block;
    background-color: #fff;
    border: none;
    border-radius: 0;

    @media only screen and (max-width: $large-bp) {
        width: 3.5rem;
        margin: 0;
        margin-right: 2rem;
        align-self: center;
    }

    &:focus {
        outline: none;
    }

    &::before,
    &::after {
        display: block;
        content: "";
        height: 2px;
        width: 4.5rem;
        background-color: #fff;

        @media only screen and (max-width: $large-bp) {
            width: 3.5rem;
        }
    }

    &::before { transform: translateY(-1.5rem); }
    &::after { transform: translateY(1.5rem); }

    @media only screen and (max-width: $large-bp) {
        &::before { transform: translateY(-1.2rem); }
        &::after { transform: translateY(1rem); }
    }
}