%heading {
    font-family: $font-display;
    font-weight: 400;
}

.heading-1 {
    @extend %heading;
    font-size: 4.5rem;
    line-height: 1;
    color: #fff;
}

.heading-2 {
    @extend %heading;
    font-size: 4rem;
    line-height: 1;

    &--dark {
        font-style: italic;
    }
}

.heading-3 {
    @extend %heading;
    font-size: 2rem;

    &--primary {
        color: $color-primary;
        text-transform: uppercase;
    }
}

.heading-4 {
    @extend %heading;
    font-size: 1.7rem;

    &--light { color: $color-grey-light-1; }
    &--dark { color: $color-grey-dark-1; }
}

.btn {
    padding: 1.5rem;
    font-size: 2rem;
    color: $color-grey-light-1;
    border: none;
    text-transform: uppercase;
    cursor: pointer;

    &--primary {
        background-color: $color-primary;

        &:hover { background-color: $color-primary-dark; }
    }

    &--home {
        grid-column: 1 / -1;
    }

    &--head {

        background-color: rgba($color-primary, .93);
        justify-self: start;
        align-self: start;

        &:hover { background-color: $color-primary-dark; }
    }
}

.mb-x-small { margin-bottom: 2rem; }
.mb-small { margin-bottom: 3rem; }
.mb-medium { margin-bottom: 4rem; }
.mb-large { margin-bottom: 6rem; }